@using Fshop.Areas.Admin.Models;
@model IList<AdminUser>
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<main id="main" class="main">
    <div class="pagetitle" style="background-color: #f8f9fa; padding: 20px;">
        <h2 style="color: #343a40;">Danh sách người dùng</h2>
    </div>
    <p>
        <a type="button" class="btn btn-dark" asp-area="Admin" asp-controller="AdminUser" asp-action="Create">
            <i class="bi bi-file-earmark-text me-1"></i> Thêm Người dùng
        </a>
    </p>
    <section class="section dashboard">
        <div class="row">
            <div class="col-12">
                <div class="card recent-sales" style="background-color: #f8f9fa; border: none;">
                    <div class="card-body mt-4">
                        <table class="table table-borderless datatable">
                            <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th class="text-center">Tiêu đề</th>
                                    <th class="text-center">Email</th>
                                    <th class="text-center">Trạng thái</th>
                                    <th class="text-center">Chức năng</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="text-center">@item.UserID</td>
                                        <td class="text-center">@item.UserName</td>
                                        <td class="text-center">@item.Email</td>
                                        <td class="text-center">@item.IsActive</td>
                                        <td class="text-center">
                                            <a asp-area="Admin" asp-controller="AdminUser" asp-action="Edit" asp-route-id="@item.UserID"
                                               class="btn btn-dark btn-sm" title="Sửa thông tin người dùng"><i class="bi bi-pencil"></i></a>

                                            <a asp-area="Admin" asp-controller="AdminUser" asp-action="Delete" asp-route-id="@item.UserID"
                                               class="btn btn-light btn-sm" title="Xóa thông tin người dùng"><i class="bi bi-trash"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
