<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
	function addToCart(productId) {
		$.ajax({
			url: '@Url.Action("AddToCart", "Cart")',
			type: 'POST',
			data: { productId: productId },
			success: function (result) {
				alert('Thêm thành công sản phẩm.');
			},
			error: function (xhr, status, error) {
				alert('Sản phẩm đã tồn tại trong giỏ hàng.');
			}
		});
	}
</script>
@model IList<Product>

<div class="product-section mt-150 mb-150">
	<div class="container">
		<div class="row">
			@{
				int sl = 0;
				foreach (var item in Model)
				{
					if (sl < 3)
					{
						<div class="col-lg-4 col-md-6 text-center @item.Category">
							<div class="single-product-item">
								<div class="product-image">
									<a href=""><img src="@item.Images" alt="" style="width: 200px; height: 150px;"></a>
								</div>
								<h3>@item.ProductName</h3>
								<p class="product-price"><span>Per Kg</span> @item.Price$ </p>
								<p>@item.Contents</p>
								<a href="#" class="cart-btn" onclick="addToCart(@item.ProductID)"><i class="fas fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
							</div>
						</div>
						sl++;
					}
				}
			}
			<a href="https://localhost:7079/Product" class="boxed-btn mt-4 centered-btn">Xem thêm sản phẩm</a>
		</div>
	</div>
</div>

